@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------------*/
.body {
  height: 1000px;
}

.wrapper {
  overflow: hidden;
  background-color: black;
}

.container {
  max-width: 1390px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  font-weight: 200;
  z-index: 3;
  position: fixed;
  padding: 29px 0 0 0;
  height: 106px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin: 0 122px 0 0;
  width: 220px;
  min-width: 220px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__logo:hover {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.header__menu {
  width: 674px;
  margin: 0 307px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.header__menu_item a {
  color: white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header__menu_item a:hover {
  color: #F05F0D;
}

.header__cart {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__cart img {
  width: 37px;
  fill: #F05F0D;
}

.header__cart:hover {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

main {
  font-family: 'Inter', sans-serif;
  position: relative;
  top: 106px;
  background-color: white;
  padding: 95px 0 0 0;
}

main .container {
  height: 100%;
}

.main__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__sidebar {
  width: 340px;
  min-width: 340px;
  text-align: center;
  margin: 0 100px 0 -100px;
}

.similar__title {
  font-size: 20px;
  margin: 0 0 12px 0;
}

.similar__item {
  margin: 0 0 80px 0;
}

.similar__item_2 {
  margin: 0 0 130px 0;
}

.similar__image {
  height: 226px;
  width: 250px;
  background: url(../img/product/door1.png) 45px 0/100% 100%;
}

.similar__name {
  margin: 12px 0;
  font-size: 18px;
}

.similar__rate {
  background: url(../img/product/stars_whitebg.png) 0 0/cover;
  width: 96px;
  height: 16px;
  position: relative;
  left: 115px;
}

.main__product {
  width: 100%;
}

.goback {
  font-size: 16px;
  line-height: 19px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.goback:visited {
  color: inherit;
}

.goback:hover {
  color: #F05F0D;
  margin: 50px 0 0 0;
}

.goback:before {
  content: '';
  height: 12px;
  width: 12px;
  background: url(../img/product/leftarrow.svg) no-repeat;
  display: inline-block;
  margin: 0 10px 0 0;
}

.main__title {
  font-size: 26px;
  line-height: 34px;
  margin: 47px 0 30px 0;
}

.main__doorblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__bootstrap {
  width: 400px;
}

.carousel-indicators button {
  position: relative;
  top: 40px;
}

.main__table {
  width: 500px;
}

.table__title {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 50px 0;
}

.table__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 1fr;
      grid-template-columns: 280px 1fr;
  -ms-grid-rows: (45px)[5];
      grid-template-rows: repeat(5, 45px);
}

.main__price {
  font-size: 32px;
  margin: 0 0 30px 0;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 445px;
}

.main__moreless {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 13px 40px;
  font-size: 20px;
  min-width: 26%;
}

.main__moreless::after {
  content: "+";
  position: relative;
  left: 20px;
}

.main__moreless::before {
  content: "-";
  position: relative;
  left: -20px;
}

.main__add {
  min-width: 70%;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 13px 40px;
  font-size: 20px;
  color: white;
  background: #F05F0D;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main__add:hover {
  color: #F05F0D;
  background: white;
  border: 1px solid #F05F0D;
}

.main__need {
  margin: 20px 0 0 0;
  width: 100%;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 13px 40px;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main__need:hover {
  color: white;
  background: #F05F0D;
}

.reviews__title {
  font-size: 26px;
  line-height: 34px;
  margin: 47px 0 30px 0;
}

.reviews__item {
  background: #e4e4e4;
  border-radius: 30px;
  padding: 20px 25px;
}

.reviews__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: #F05F0D 3px solid;
  background: url(../img/product/1.jpg) 0 0/cover;
}

.reviews__name {
  position: relative;
  top: -30px;
  left: 60px;
}

.reviews__rate {
  background: url(../img/product/stars.png) 0 0/cover;
  position: relative;
  width: 120px;
  height: 20px;
  top: -47px;
  left: 120px;
}

.reviews__text {
  font-size: 18px;
  line-height: 150%;
}

.reviews__item_2 {
  margin: 70px 0 0 0;
}

.reviews__item_2 .reviews__avatar {
  background: url(../img/product/2.png) 0 0/cover;
}

footer {
  font-weight: 200;
  background-color: black;
  position: relative;
  top: 106px;
  padding-bottom: 80px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 32px;
  padding: 46px 0;
  font-family: 'Inter', sans-serif;
  color: white;
}

.footer__logo {
  margin: 0 122px 0 0;
  width: 220px;
}

.footer__logo img {
  fill: #F05F0D;
}

.footer__contacts {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.footer__title {
  font-size: 24px;
}

.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

.footer__logos img {
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=product.css.map */